<div class="flex flex-col items-center justify-center min-h-screen bg-white">
  <h2 class="text-2xl font-bold text-center mb-6 text-black">ログイン</h2>

  <%= form_with url: sessions_path, method: :post, local: true, class: "w-96 space-y-6" do |f| %>
    <%= f.email_field :email, placeholder: "メールアドレス", 
        class: "w-full border border-gray-300 rounded-full p-3 bg-white text-black placeholder-gray-400", required: true %>

    <%= f.password_field :password, placeholder: "パスワード", 
        class: "w-full border border-gray-300 rounded-full p-3 bg-white text-black placeholder-gray-400", required: true %>

<div class="flex items-center justify-center space-x-2 text-black w-full">
  <%= f.check_box :remember_me, id: "remember_me", class: "accent-[#D6C8C8]" %>
  <%= f.label :remember_me, "ログイン状態を保持する", class: "text-sm" %>
</div>

    <%= f.submit "ログイン", class: "w-96 bg-[#D6C8C8] text-white p-3 rounded-full hover:bg-[#CEBEBE]" %>
  <% end %>

  <a href="<%= new_password_path %>" class="text-sm text-gray-500 hover:text-black mt-2 block">
    パスワードを忘れた方はこちら
  </a>

  <a href="<%= signup_path %>" class="text-sm text-gray-500 hover:text-black mt-2 block">
    会員登録はこちら
  </a>

<%= button_to "Googleでログイン", "/auth/google_oauth2",
  method: :post,
  data: { turbo: false },
  class: "text-sm text-gray-500 hover:text-black mt-2 block" %>


</div>
