<div class="flex flex-col items-center justify-center min-h-screen bg-white">
    <%# ユーザー情報編集フォーム %>
    <%= form_with model: @user, url: user_path(@user), method: :patch, local: true, class: "w-96 space-y-6" do |f| %>
        <h2 class="text-xl font-bold text-center text-black">ユーザー情報</h2>

        <%# ユーザー名入力欄 %>
        <%= f.text_field :name, placeholder: "ユーザー名", 
            class: "w-full border border-gray-300 rounded-full p-3 bg-white text-black placeholder-gray-400" %>

        <%# メールアドレス入力欄 %>
        <%= f.email_field :email, placeholder: "メールアドレス", 
            class: "w-full border border-gray-300 rounded-full p-3 bg-white text-black placeholder-gray-400", required: true %>

        <%# パスワード入力欄 %>
        <%= f.password_field :password, placeholder: "パスワード (半角英数字6文字以上)", 
            class: "w-full border border-gray-300 rounded-full p-3 bg-white text-black placeholder-gray-400", required: true %>

        <%# パスワード確認入力欄 %>
        <%= f.password_field :password_confirmation, placeholder: "パスワード再入力", 
            class: "w-full border border-gray-300 rounded-full p-3 bg-white text-black placeholder-gray-400", required: true %>

        <%# 会員情報変更ボタン %>
        <%= f.submit "ユーザー情報を変更する", class: "w-96 bg-[#C8A07E] text-white p-3 rounded-full hover:bg-[#B38F70]" %>
    <% end %>

    <%# ログアウトボタン %>
    <a href="<%= logout_path %>" class="w-96 mt-6 bg-[#9c3b3b] text-white p-3 rounded-full hover:bg-[#872f2f] flex items-center justify-center">
        ログアウト
    </a>
</div>
