<%= form_with(model: @item, local: true, multipart: true) do |form| %>
  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :uv_cut_rate %>
    <%= form.select :uv_cut_rate, ["92%以上", "95%以上", "99%以上", "99.9%以上"] %>
  </div>

  <div>
    <%= form.label :category %>
    <%= form.select :category, ["アパレル", "日傘", "その他"] %>
  </div>

  <div>
    <%= form.label :price_range %>
    <%= form.select :price_range, ["～3000円", "～5000円", "～10000円", "～15000円", "それ以上"] %>
  </div>

  <%= form.submit "投稿" %>
<% end %>
