<div class="flex items-center justify-center min-h-screen">
  <div class="max-w-lg w-full bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-xl font-bold text-black mb-6">新規投稿</h2>

    <%= form_with model: @post, local: true, multipart: true do |f| %>
      <div class="space-y-4">
        <%= f.label :title, "タイトル", class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :title, required: true, class: "w-full border rounded-lg p-2" %>

        <%= f.label :content, "本文", class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_area :content, required: true, class: "w-full border rounded-lg p-2" %>

        <%= f.label :category, "カテゴリ", class: "block text-sm font-medium text-gray-700" %>
        <%= f.select :category, ["アパレル", "日傘", "その他"], {}, class: "w-full border rounded-lg p-2", required: true %>

        <%= f.label :price_range, "金額", class: "block text-sm font-medium text-gray-700" %>
        <%= f.select :price_range, ["～3000円", "～5000円", "～10000円", "～15000円", "それ以上"], {}, class: "w-full border rounded-lg p-2", required: true %>

        <%= f.label :uv_cut_rate, "UVカット率", class: "block text-sm font-medium text-gray-700" %>
        <%= f.select :uv_cut_rate, ["92%以上", "95%以上", "99%以上", "99.9%以上"], {}, class: "w-full border rounded-lg p-2", required: true %>

        <%= f.label :image, "画像", class: "block text-sm font-medium text-gray-700" %>
        <%= f.file_field :image, required: true, class: "w-full border rounded-lg p-2" %>

        <%= f.submit "投稿する", class: "w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600" %>
      </div>
    <% end %>
  </div>
</div>
